PORT=3000
NODE_ENV=development
API_PREFIX=api/v1
CORS_ORIGIN=http://localhost:4200

# Base de datos PostgreSQL
DATABASE_URL="postgresql://postgres:admin@localhost:5432/wsp_system_db?schema=public"

# Seguridad JWT
JWT_ACCESS_SECRET="wsp_flow_super_secret_jwt_access_key_2026_change_in_production"
JWT_ACCESS_EXPIRATION="1d"
JWT_REFRESH_SECRET="wsp_flow_super_secret_jwt_refresh_key_2026_change_in_production"
JWT_REFRESH_EXPIRATION="7d"

# WhatsApp Baileys Config
BAILEY_SESSION_DIR="./auth_info_baileys"
BAILEY_AUTO_RECONNECT=true

# OpenAI AI Assistant & Function Calling
OPENAI_API_KEY="sk-proj-xxxxxxxxxxxxxxxxxxxxxxxx"
OPENAI_MODEL="gpt-5.6-luna"

# Pasarela de Pagos Culqi (Yape, Tarjetas Débito/Crédito y Reembolsos)
CULQI_PUBLIC_KEY="pk_test_xxxxxxxxxxxxxxxx"
CULQI_SECRET_KEY="sk_test_xxxxxxxxxxxxxxxx"
FRONTEND_URL="http://localhost:4200"

